<template>
  <q-page class="row justify-evenly">
    <DeviceComponent active />
  </q-page>
</template>

<script setup lang="ts">
import DeviceComponent from 'src/components/DeviceComponent.vue';
</script>
